
<div class="row">
  
  <div class="col-4 mt-3">
    <app-empleado-hijo *ngFor="let empleado of empleados; let i = index" style="list-style: none;" [empleadoDeLista]="empleado" [indice]="i" ></app-empleado-hijo>
  </div>
  <div class="col-4 mx-auto">
    
    <label for="nombre">Nombre</label>
    <input [(ngModel)]="Qnombre" class="form-control" name="nombre" type="text">
    <label for="apellido">Apellido</label>
    <input [(ngModel)]="Qapellido" class="form-control" name="apellido" type="text">
    <label for="cargo">Cargo</label>
    <input [(ngModel)]="Qcargo" class="form-control" name="cargo" type="text">
    <label for="salario">Salario</label>
    <input [(ngModel)]="Qsalario" class="form-control" name="salario" type="number">
    <button type="submit" class="btn btn-primary mt-3" (click)="agregarEmpleado()">agregar</button>
  </div>
</div>
